/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('background.jpg'); /* Replace with your custom background image */
    background-size: cover;
    color: #333;
    text-align: center;
    background: linear-gradient(to bottom, #b6b3e4, #93e9b8);
    background-image: url(Background.jpg);
    background-repeat: repeat;
}

header {
    background-image: url(Background.jpg);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 25px;
    text-decoration: underline;
}

nav ul li a:hover {
    color: #bf4519;
}

main {
    padding: 40px;
}

section {
    margin-bottom: 0px;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 60px;
}

h2 {
    color: #ff4500;
    font-size: 45px;
    margin: 0;
}

h3 {
    font-size: 30px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container iframe {
    position: absolute;
    top: 0;
    width: 80%;
    height: 80%;
}

.tableau-container iframe {
    position: relative;
    left: 107px;
}

ol {
    list-style: none;
    margin-top: 0;
}

li {
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Star rating */
.rating .star {
    width: 30px; /* Adjust the width of the stars */
    height: auto; /* Adjust the height of the stars */
    margin-right: 5px; /* Adjust the spacing between stars */
}

/* Review text */
.review {
    margin-top: 10px;
    color: #666;
}